# Database
DATABASE_URL='postgresql://neondb_owner:npg_C9ab5ImtUJQi@ep-lucky-rain-a1663qbv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# Auth
JWT_SECRET="your-jwt-secret-here"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-here"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:5000"
